.git
.github
.env
.env.*
node_modules
logs/
.vercel
.DS_Store
.vscode
.idea
.cache
.npm
.nyc_output
coverage/
build/
dist/
tmp/
*.log
docs/technical-report/*.aux
docs/technical-report/*.fdb_latexmk
docs/technical-report/*.fls
docs/technical-report/*.out
docs/technical-report/*.toc
docs/technical-report/*.xdv
*.synctex.gz
